:root {
  --space: 1rem;
  --space-100: calc(0.75 * var(--space));
  --space-200: calc(1 * var(--space));
  --space-300: calc(1.33 * var(--space));
  --space-400: calc(1.77 * var(--space));
  --space-500: calc(2.36 * var(--space));
  --space-600: calc(3.15 * var(--space));
  --space-700: calc(4.2 * var(--space));
  --space-800: calc(5.6 * var(--space));
  --space-900: calc(6.9 * var(--space));

  --shadow-100: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-200: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-300: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-400: 0 20px 25px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  padding: var(--space-300);
}
